<h1>Edit: <%= @product.title %></h1>

<% form_for @product, :url => admin_product_path, :html => {:method => :put} do |f| %>
  <%= render :partial => 'product', :locals => { :f => f, :product => @product } %>
<% end %>
<%= render :partial => 'images', :locals => { :product => @product } %>