<h1>New Product</h1>

<% form_for :product, @product, :url => admin_products_url, :method => :post do |f| %>
  <%= render :partial => 'product', :locals => { :f => f, :product => @product } %>
<% end %>
